.section-one {
  background-color: #ccc;
}


.section-one .text-2 {
  font-size: 36px;
}

.section-one .tile .button {
  height: 55px;
  width: 100%;
}

.section-four .level {
  margin-top: 70px;
}


.navbarItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0px 10px;
}

.navbarItem .button {
  padding: 0px 30px;
}

@media screen and (max-width: 768px) {
  .navbarItem {
    padding:0px 0px;
  }
  .navbarItem .button {
    padding: 0px 0px;
  }


}
