.section-one {
  background-color: #ccc;
}


.section-one .text-2 {
  font-size: 36px;
}

.section-one .tile .button {
  height: 55px;
  width: 100%;
}

.section-four .level {
  margin-top: 70px;
}

.login-input {
  height: 50px;
}


.navbarItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0px 10px;
}

.navbarItem .button {
  padding: 0px 30px;
}

.selldetail {
  display: flex;
  flex-direction:column;
  justify-content: center;
  text-align: center;
}

.form-header {
  padding-bottom: inherit;
}

.form-field {
  margin-bottom: 20px;
}

.btn-size {
  width: 100px;
  height: 50px;
}

.subt-btn {
    width: 150px;
    height: 40px;
}
.selldetail .title {
  padding-bottom: 50px;
}

.inputform .field:not(:last-child) {
 margin-bottom:20px;
}

@media screen and (max-width: 768px) {
  .navbarItem {
    padding:0px 0px;
  }
  .navbarItem .button {
    padding: 0px 0px;
  }

}
